<div>
    <div>
        <div class="card bg-primary">
            <div class="thead">
              <label for="Table" style="padding-left: 30px; color: white; font-size: 24px;">Diseases</label>
              <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for" class="form-control-sm top-margin">
              <button (click)="openAddDiseaseDialog($event)" type="button" class="btn btn-success" style="float:right; width: 150px;height: 30px;font-size: 12px;">Add Disease</button>
          </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="diseaseId">
                <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> No. </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.DiseaseId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="diseaseName">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Disease Name </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.DiseaseName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row, $event)"></tr>
        </table>
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner 
              color="primary" 
              mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>
        <mat-paginator [pageSizeOptions]="[15, 25, 35]" showFirstLastButtons></mat-paginator>
    </div>