<div>
    <div>
        <div class="card bg-primary">
            <div class="thead">
              <label for="Table" style="padding-left: 30px; color: white; font-size: 24px;">Diseases</label>
              <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for" class="form-control-sm top-margin">
              <button type="button" class="btn btn-success" style="float:right; width: 150px;height: 30px;font-size: 12px;">Add Disease</button>
          </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="diseaseId">
                <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> No. </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.diseaseId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="diseaseName">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Disease Name </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.diseaseName}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                <mat-cell *matCellDef="let row" >
                     <button mat-button >Edit</button>
                </mat-cell>
              </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;">
                    <button mat-icon-button color="primary">
                        <mat-icon class="mat-18">reorder</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Update </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent">
                        <mat-icon class="mat-18">system_update</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row, $event)"></tr>
        </table>
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner 
              color="primary" 
              mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>
        <mat-paginator [pageSizeOptions]="[10, 20, 35]" showFirstLastButtons></mat-paginator>
    </div>