<div>
    <div>
        <!-- <div class="thead"></div>
            <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for"
                class="form-control-sm top-margin">
        </div> -->
        <div class="card bg-primary">
            <div class="thead">
              <label for="Table" style="padding-left: 30px; color: white; font-size: 24px;">Patients</label>
              <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for" class="form-control-sm top-margin">
          </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> No. </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.PatientId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Full Name </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.PatientFullName}} </td>
            </ng-container>
            <ng-container matColumnDef="birth">
                <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> Birth </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.PatientBirhdate}} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNum">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Phone Number </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.PatientPhoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="identityNum">
                <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> Identity Number </th>
                <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.IdentityNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Notes </th>
                <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.Note}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row, $event)"></tr>
        </table>
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner 
              color="primary" 
              mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>
        <mat-paginator [pageSizeOptions]="[10, 20, 35]" showFirstLastButtons></mat-paginator>
    </div>