<div class="row bgDiv">
    <div class="col-sm">
        <div style="float: left;padding: 10%;">
            <div *ngIf="showMe">
                <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiN2M2YTUwODUtOGZjOC00YzJjLWFjYjUtMTk0MTk5NWYyNDBiIiwidCI6IjExNmE1NDE0LTc5MDEtNDBlNS1hZDk1LTM0MjBlYzA3NDY1NyIsImMiOjl9&pageName=ReportSection5b25f3922702b4c0cb65"
                 frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div style="float: right; padding: 15%;">
            <button (click)="showMe =! showMe" type="button" class="btn btn-outline-success"
                style="width: 250px; float: right; margin-bottom: 20px;">Patients</button>

            <button type="button" class="btn btn-outline-success"
                style="width: 250px; float: right; margin-bottom: 20px;">Doctors</button>

            <button type="button" class="btn btn-outline-success"
                style="width: 250px; float: right; margin-bottom: 20px;">Diseases</button>

            <button type="button" class="btn btn-outline-success"
                style="width: 250px; float: right; margin-bottom: 20px;">Clinics</button>

            <button type="button" class="btn btn-outline-success"
                style="width: 250px; float: right; margin-bottom: 20px;">Visits</button>

            <button type="button" class="btn btn-outline-danger"
                style="width: 250px; float: right; margin-bottom: 20px;">Covid-19</button>
        </div>
    </div>
</div>