<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Patient</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="form-group mb-3">
              <label for="name">Patient Fullname
              </label>
              <input [(ngModel)]="data.patientFullName" id="patientFullName" name="patientFullName" type="text"
                class="form-control validate" required="">
            </div>
            <div class="form-group mb-3">
              <label for="name">Phone Number
              </label>
              <input [(ngModel)]="data.patientPhoneNumber" id="patientPhoneNumber" name="patientPhoneNumber" type="text"
                class="form-control validate" required="">
            </div>
            <div class="form-group mb-3">
              <label for="category">Gender</label>
              <select class="custom-select tm-select-accounts" id="category">
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form>
              <!-- <div class="form-group mb-3">
                    <label for="name">Patient Disease
                    </label>
                    <input id="name" name="name" type="text" class="form-control validate" required="">
                  </div> -->
              <div class="form-group mb-3">
                <label for="name">Identity Number
                </label>
                <input [(ngModel)]="data.identityNumber" id="identityNumber" name="identityNumber" type="number"
                  class="form-control validate" required="">
              </div>
              <div class="form-group mb-3">
                <label for="expire_date">Date of Birth
                </label>
                <input [(ngModel)]="data.patientBirhdate" id="expire_date" name="expire_date" type="date"
                  class="form-control validate hasDatepicker" data-large-mode="true">
              </div>
              <div class="form-group mb-3">
                <label for="name">Notes
                </label>
                <input [(ngModel)]="data.note" id="note" name="note" type="text" class="form-control validate"
                  required="">
              </div>
            </form>
          </div>
          <!-- <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="tm-product-img-dummy mx-auto">
                <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
              </div>
              <div class="custom-file mt-3 mb-3">
                <input id="fileInput" type="file" style="display:none;">
                <input type="button" class="btn btn-primary btn-block mx-auto" value="Choose images" onclick="document.getElementById('fileInput').click();">
              </div>
            </div> -->
          <div class="col-12">
            <button (click)="addPatient(data)" type="submit" class="btn btn-primary btn-block"
              style="margin-bottom: 10%;">Add Pateint</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>