<div>
    <div class="searchBar">
        <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for">
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.drId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
            <td mat-cell *matCellDef="let element"> {{element.drName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="doctorSpeciality">
            <th mat-header-cell *matHeaderCellDef> Doctor Speciality </th>
            <td mat-cell *matCellDef="let element"> {{element.drSpeciality}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="doctorUserName">
            <th mat-header-cell *matHeaderCellDef> Doctor Username </th>
            <td mat-cell *matCellDef="let element"> {{element.drUserName}} </td>
        </ng-container>
        <ng-container matColumnDef="doctorPassword">
            <th mat-header-cell *matHeaderCellDef> Doctore Password </th>
            <td mat-cell *matCellDef="let element"> {{element.drPassword}} </td>
        </ng-container>
        <ng-container matColumnDef="clinic">
            <th mat-header-cell *matHeaderCellDef> Doctor Clinic </th>
            <td mat-cell *matCellDef="let element"> {{element.clinic}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary">
                  <mat-icon class="mat-18">reorder</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Update </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="warn">
                      <mat-icon class="mat-18">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 15, 15]" showFirstLastButtons></mat-paginator>
</div>