<div>
    <div class="card bg-primary">
        <div class="thead">
          <label for="Table" style="padding-left: 30px; color: white; font-size: 24px;">Doctors</label>
          <input type="text" style="float:right" (keyup)="applyFilter($event.target.value)" placeholder="search for" class="form-control-sm top-margin">
          <button type="button" class="btn btn-success" style="float:right; width: 150px;height: 30px;font-size: 12px;" (click)="openDialog($event)">Add Doctor</button>
      </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> No. </th>
            <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.DrId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="doctorName">
            <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Doctor Name </th>
            <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.DrName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="doctorSpeciality">
            <th mat-header-cell *matHeaderCellDef  class="bg-primary" style="color: white;"> Doctor Speciality </th>
            <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.DrSpeciality}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="doctorUserName">
            <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Doctor Username </th>
            <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.DrUserName}} </td>
        </ng-container>
        <ng-container matColumnDef="doctorPassword">
            <th mat-header-cell *matHeaderCellDef class="bg-primary" style="color: white;"> Doctore Password </th>
            <td mat-cell *matCellDef="let element" style="background-color: aliceblue; text-align: center !important;"> {{element.DrPassword}} </td>
        </ng-container>
        <ng-container matColumnDef="clinic">
            <th mat-header-cell *matHeaderCellDef style="background-color: rgb(145, 172, 207); color: white;"> Doctor Clinic </th>
            <td mat-cell *matCellDef="let element" style="text-align: center !important;"> {{element.Clinic}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element" class="bg-primary" style="color: white;">
              <button mat-icon-button color="primary" style="background-color: aliceblue; text-align: center !important;">
                  <mat-icon class="mat-18">reorder</mat-icon>
              </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner 
          color="primary" 
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    <mat-paginator [pageSizeOptions]="[10, 20, 35]" showFirstLastButtons></mat-paginator>
</div>