<!-- <mat-dialog-container> -->
<mat-dialog-content class="matDialog">
    <h2>Patient Details</h2>
    <mat-divider></mat-divider>
    <div class="container tm-mt-big tm-mb-big" style="padding: 10px;">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group mb-3">
                                <label for="name">Patient Fullname
                                </label>
                                <input [(ngModel)]="item.patientFullName" id="patientFullName"
                                    placeholder="item.patientFullName" name="patientFullName" type="text"
                                    class="form-control validate" readonly="readonly">
                            </div>
                            <div class="form-group mb-3">
                                <label for="name">Phone Number
                                </label>
                                <input [(ngModel)]="data.patientPhoneNumber" id="patientPhoneNumber"
                                    placeholder="data.patientPhoneNumber" name="patientPhoneNumber" type="text"
                                    class="form-control validate" readonly="readonly">
                            </div>
                            <div class="form-group mb-3">
                                <label for="name">Gender
                                </label>
                                <input [(ngModel)]="data.gender" id="gender" placeholder="data.gender" name="gender"
                                    type="text" class="form-control validate" readonly="readonly">
                            </div>
                            <div class="form-group mb-3">
                                <label for="expire_date">Date of Birth
                                </label>
                                <input [(ngModel)]="data.patientBirhdate" id="expire_date" name="expire_date"
                                    placeholder="data.patientBirhdate" type="date"
                                    class="form-control validate hasDatepicker" data-large-mode="true" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <form action="" class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="name">Identity Number
                                    </label>
                                    <input [(ngModel)]="data.identityNumber" id="identityNumber"
                                        placeholder="data.identityNumber" name="identityNumber" type="text"
                                        class="form-control validate" readonly="readonly">
                                </div>
                                <!-- <div class="form-group mb-3">
                          <label for="name">Patient Disease
                          </label>
                          <input id="name" name="name" type="text" class="form-control validate" required="">
                        </div> -->
                                <div class="form-group mb-3">
                                    <label for="name">Notes
                                    </label>
                                    <input [(ngModel)]="data.note" id="note" placeholder="data.note" name="note"
                                        type="text" class="form-control validate" readonly="readonly">
                                </div>
                            </form>
                        </div>
                        <!-- <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                    <div class="tm-product-img-dummy mx-auto">
                      <i class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                    </div>
                    <div class="custom-file mt-3 mb-3">
                      <input id="fileInput" type="file" style="display:none;">
                      <input type="button" class="btn btn-primary btn-block mx-auto" value="Choose images" onclick="document.getElementById('fileInput').click();">
                    </div>
                  </div> -->
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <button type="submit" (click)="openDialogNormalVisit(data, $event)"
                                class="btn btn-primary btn-block" style="margin-bottom: 10%;">Add Visit</button>
                            <button type="submit" (click)="openDialogSurgeryVisit(data, $event)"
                                class="btn btn-primary btn-block">Add Surgery Visit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</mat-dialog-content>
<!-- </mat-dialog-container> -->
<!-- <div mat-dialog-actions>
    <button class="btn btn-success" mat-raised-button type="submit">Update</button>
</div> -->