<div style="overflow: hidden;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">perm_contact_calendar</i>
                    </div>
                    <p class="card-category">Patients</p>
                    <h3 class="card-title">{{patientCount}}<small>person</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i><a href=""></a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">track_changes</i>
                    </div>
                    <p class="card-category">Clinic</p>
                    <h3 class="card-title">{{clinicCount}}<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">bookmark_added</i>
                    </div>
                    <p class="card-category">Doctors</p>
                    <h3 class="card-title">{{diseaseCount}}<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">flaky</i>
                    </div>
                    <p class="card-category">Clinic DB</p>
                    <h3 class="card-title">2K Patient<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left: 30%; padding-right: 30%;">
        <iframe width="600" height="373.5"
        src="https://app.powerbi.com/view?r=eyJrIjoiZDg4MzEyYjktMjdkNS00MDY3LWFmZTItNTExNjdkNGU0ZGEwIiwidCI6IjExNmE1NDE0LTc5MDEtNDBlNS1hZDk1LTM0MjBlYzA3NDY1NyIsImMiOjl9"
         frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div>
        
    </div>
</div>