<div style="overflow: hidden;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">perm_contact_calendar</i>
                    </div>
                    <p class="card-category">New Patients</p>
                    <h3 class="card-title">+10<small>person</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i><a href=""></a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">track_changes</i>
                    </div>
                    <p class="card-category">New Symptoms</p>
                    <h3 class="card-title">+2<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">bookmark_added</i>
                    </div>
                    <p class="card-category">Reports of Month</p>
                    <h3 class="card-title">4/10<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon"><i class="material-icons">flaky</i>
                    </div>
                    <p class="card-category">Clinic DB</p>
                    <h3 class="card-title">2K Patient<small></small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats"><i class="material-icons text-danger">check</i>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>